.large-container {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    margin-top: 2rem;
    border-radius:0.3rem!important;
    width: "100%";
    min-width: 20vw;
    min-height: 20hw;
}

.card-img-top {
    background: url("../img/blank.gif");
    background-repeat:no-repeat;
    background-position: center center;
    width: "100%";
    height: auto;
}

button.transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    text-align: left;
    border: none;
    cursor:pointer;
    overflow: visible;
    outline:none;
}

.hoverable:hover {
    box-shadow: 0 0px 20px rgba(0, 63, 255, .5);
    transition: all 0.3s;
}

.selected {
    border: solid 1px;
    background-color: rgb(232, 240, 254);
    color: rgb(31, 120, 227);
    font-weight: bold;
}
