html {
    font-size: calc((.4em + 0.5vmin) + (.4em + 0.5vmax));
}

.container {
    padding: 2rem;
    max-width: initial;
}

.card {
    margin-top: 1.5rem;
    border-radius: 0.3rem !important;
    width: "100%";
    height: "auto";
}

.card-img-top {
    background: url("../img/blank.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: "100%";
    height: auto;
}

ul.wrap-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.wrap-list li {
    width: 400px;
    height: auto;
}

button.transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    text-align: left;
    border: none;
    cursor: pointer;
    overflow: visible;
    outline: none;
}

.hoverable:hover {
    box-shadow: 0 0px 20px rgba(0, 63, 255, .5);
    transition: all 0.3s;
}

.selected {
    border: solid 1px;
    background-color: rgb(232, 240, 254);
    color: rgb(31, 120, 227);
    font-weight: bold;
}
